.basic-slide {
    display: inline-block;
    width: 60px;
    height: 40px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-size: large;
    font-weight: 800;
    color: #ffffff;
    background: #efefef23;
    border: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: 0;
    text-indent: 0px;
    transition: all 0.3s ease-in-out;
}

.basic-slide::-webkit-input-placeholder {
    color: #efefef21;
    text-indent: 0;
    font-weight: 300;
}



.basic-slide:focus,
.basic-slide:active {
    color: #ffffff;
    text-indent: 0;
    background: rgba(255, 255, 255, 0.158);

}

.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
    color: #aaa;
}

.basic-slide:focus+label,
.basic-slide:active+label {
    transform: translateX(-100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

label {
    display: inline-block;
    position: relative;
    font-family: "Open Sans", sans;
    font-size: large;
    font-weight: 400;
    color: white;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);

    transition: all 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.labelSTS {
    background: #04ff10;
}

.labelRPH {
    background: #ff9604;
}

.stsdiv {
    display: inline-block;
    width: 80px;
    padding: 10px 0 0px 0px;
    font-family: "Open Sans", sans;
    font-size: large;
    font-weight: 800;
    color: #ffffff;
    background: #efefef23;
    border: 0;
    border-radius: 5px;
    outline: 0;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rphdiv {
    display: inline-block;
    width: 80px;
    padding: 10px 0 0px 0px;
    font-family: "Open Sans", sans;
    font-size: large;
    font-weight: 800;
    color: #ffffff;
    background: #efefef23;
    border: 0;
    border-radius: 5px;
    outline: 0;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#sts-span {
    display: flex;
    flex-direction: row;
}

.stschild {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.onsts {
    font-size: xx-large;
    font-weight: bold;
    color: #97F8F0;
    margin-top: 20px;
}

.onrph {
    font-size: xx-large;
    font-weight: bold;
    color: #97F8F0;
    margin-top: 20px;
}

.onText {
    font-size: calc(1vw + 1vh);
    color: #97F8F0;
}

.understs {
    color: red;
}

.upsts {
    color: rgb(4, 202, 4);
}

.onstsword {
    color: antiquewhite;
    font-size: medium;
    font-weight: 400;
}


.inputbox {
    border: 1px;
    background-color: #00ff0d00;
    border-color: #04ff10;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    border-style: solid;
    margin-bottom: 3px;
}

.input-container {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.labelinput {
    background-color: rgba(10, 10, 131, 0.651);
    color: white;
    font-size: small;
    font-weight: 200;
    padding: auto;
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.subinput {
    display: flex;
    flex-direction: column;
}

.feed-mode {
    display: flex;
    flex-direction: column;
}

.sub-feed-mode {
    font-size: medium;
    height: 40px;
    color: #ffffff;
    background-color: rgba(255, 145, 2, 0.76);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-sts {
    color: white;
    background-color: rgb(0, 217, 255);
    border-radius: 5px;
    font-size: large;
    padding: 15px;
}

#save-sts:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

#capacity {
    margin-top: 5vh;
}

/*chart svg*/

.wrapper {
    width: 80vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#cap-pane {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*sts stat box*/
.sts {
    color: #008deb;
    background-color: #008deb6e;
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 80vw;
    align-content: space-around;
}

.contain {
    flex: 1;
    width: 20vw;
    text-align: center;
}

.stschild {
    width: 20vw;
    text-align: center;

}

#last-update {
    color: white;
    font-size: small;
    font-weight: 300;
    margin-bottom: 6px;
}