.jadwal-sholat {
  position: relative;
  top: 0.5vh;
  display: flex;
  border-radius: 6px;
  background-color: #2b2d3d5a;
  height: 6vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-sholat {
  text-align: center;
  background-color: #ffffff22;

  border-radius: 5px;
  height: 100%;
  font-size: 1.4vw;
  width: 10vw;
  margin: 1vw;
  /* Center text within each box */
}
.box-city {
  text-align: center;
  background-color: #ffffff22;
  border-radius: 5px;
  width: 15vw;
  margin: 1vw; /* Center text within each box */
}
.judul {
  color: rgb(84, 212, 255);
}
.box-sholat > div:nth-child(2) {
  color: rgb(28, 162, 252);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.city {
  font-size: 1.6vw;
  color: #fff;
}
