.jadwal-sholat {
  position: relative;
  top: 14;
  display: flex;
  border-radius: 10px;
  background-color: #2b2d3d5a;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-sholat {
  text-align: center;
  background-color: #ffffff22;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin: 1vw;
  padding: 10px; /* Center text within each box */
}
.box-city {
  text-align: center;
  background-color: #ffffff22;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  margin: 1vw;
  padding: 10px; /* Center text within each box */
}
.judul {
  color: rgb(84, 212, 255);
}
.box-sholat > div:nth-child(2) {
  color: rgb(28, 162, 252);
  font-weight: bold;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.city {
  color: #fff;
}
