.block {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    width: 100px;

    padding: 6px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;

    background-color: rgba(0, 0, 0, 0.25);

}



.child_block {
    font-size: medium;
}

#sekarang {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}